* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.logo {
  width: 100px;
}

.navigation-bar {
  color: #000 !important;
}

.text-orange {
  color: orange !important;
}

.button-cart {
  position: relative;
}

.cart-number-box {
  position: absolute;
  top: -3px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
  padding: 0.7rem !important;
  background-color: red;
  border-radius: 50%;
}

.section-hero,
.section-shop-header {
  position: relative;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(210, 187, 194, 0.027)
    ),
    url(images/hero-bg.jpg);

  background-size: cover;
  background-position: center;
}

.section-hero {
  height: 80vh;
}

.backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  backdrop-filter: blur(5px);
}

span {
  color: orange;
}

.hero-sub-text {
  margin-bottom: 3rem !important;
}

.btn-border-orange {
  border-color: orange !important;
}

.feature-icon-cstm {
  width: 32px;
  height: 32px;
  color: red;
}

.icon-link-color {
  color: orange !important;
}

.product-img {
  width: 18rem;
}

.products-sub-head {
  margin-bottom: 6rem !important;
}

.gdn {
  gap: 2rem !important;
}

.products-shadow {
  padding: 3rem 0 !important;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .hero-sub-text {
    display: none;
  }

  .section-hero {
    height: 55vh;
  }

  .objectives-box {
    flex-direction: column !important;
  }

  .search-btn,
  .search-input {
    display: none !important;
  }
}

.section-about {
  position: relative;
  height: 35rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(210, 187, 194, 0.027)
    ),
    url(images/3d-rendering-gas-cylinder.webp);

  background-size: cover;
  background-position: center;
}

.section-objectives {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.objectives-img {
  object-fit: cover;
  height: 13rem;
  width: 100%;
}

.featured-product {
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
  width: 30rem;
}

.card {
  border: none !important;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}

.card-body {
  border-top: 0.5px solid rgba(128, 128, 128, 0.326);
}

.section-banner {
  margin-top: 12rem !important;
}

.refill-box {
  background-image: linear-gradient(to right, #ffa500, #ffa60085),
    url(images/bggas.webp);
  background-size: cover;
  background-position: center;
}

.repaint-box {
  background-image: linear-gradient(to right, #198754, #19875486),
    url(images/bggas.webp);
  background-size: cover;
  background-position: center;
}

.accessories-box {
  background-image: linear-gradient(to right, #fff, #ffffff7c),
    url(images/opplanet-primus-omni-fuel-stove-w-windscreen-fuel-bottle-case-main.jpg);
  background-size: cover;
  background-position: center;
}

.section-footer {
  margin-top: 12rem !important;
}

/**************************** SHOP ***********************************/

.section-shop-header {
  height: 30vh;
  position: relative;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(210, 187, 194, 0.027)
    ),
    url(images/hero-bg.webp);

  background-size: cover;
  background-position: center;
}

/************* NEWSLETTER **************/

.home-newsletter {
  padding: 80px 0;
  background: #198754;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  /* font-size: 32px; */
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  /* background: rgba(255, 255, 255, 0.6); */
  /* border-color: transparent; */
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #ffa500;
  color: #fff;
}

.greyish {
  color: #736e6e;
}

.priceLine {
  font-weight: 600;
  font-size: 1.1rem;
  color: #d6d6d6;
  text-decoration: line-through;
}

.eyeicon {
  padding: 1rem !important;
  border: 1px solid rgb(235, 227, 227);
}

.darkBlue {
  color: rgb(9, 9, 135);
}

.red {
  color: red;
}
