/* * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
} */

/*********** NAVIGATION *************/
.logo {
  width: 100px;
}

.navigation-bar {
  color: #000 !important;
}

.text-orange {
  color: orange !important;
}

.button-cart {
  position: relative;
}

.cart-number-box {
  position: absolute;
  top: -3px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
  padding: 0.7rem !important;
  background-color: red;
  border-radius: 50%;
}

/************** HERO SECTION ***************/

.section-hero,
.section-shop-header {
  position: relative;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(210, 187, 194, 0.027)
    ),
    url(images/hero-bg.jpg);

  background-size: cover;
  background-position: center;
}

.section-hero {
  height: 80vh;
}

.backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  backdrop-filter: blur(5px);
}

span {
  color: orange;
}

.hero-sub-text {
  margin-bottom: 3rem !important;
}

.btn-border-orange {
  border-color: orange !important;
}

/**************** FEATURED PRODUCTS *****************/
.feature-icon-cstm {
  width: 32px;
  height: 32px;
  color: red;
}

.icon-link-color {
  color: orange !important;
}

.product-img {
  width: 18rem;
}

.products-sub-head {
  margin-bottom: 3rem !important;
}

.gdn {
  gap: 2rem !important;
}

.products-shadow {
  padding: 3rem 0 !important;
  /* box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1); */
}

.view-btn:hover {
  color: #fff !important;
}

/***************** SECTION ABOUT ********************/
.about-box {
  position: relative;
  height: 35rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(210, 187, 194, 0.027)
    ),
    url(images/3d-rendering-gas-cylinder.webp);

  background-size: cover;
  background-position: center;
}

/******************** SECTION OBJECTIVES *********************/

.section-objectives {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.objectives-img {
  object-fit: cover;
  height: 13rem;
  width: 100%;
}

.featured-product {
  /* box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1); */
  width: 30rem;
}

.card {
  border: none !important;
  cursor: pointer;
  padding: unset !important;
  /* box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1); */
}

.card:hover {
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}

.card-body {
  border-top: 0.5px solid rgba(128, 128, 128, 0.326);
}

/******************** SECTION BANNER ************************/
.section-banner {
  margin-top: 12rem !important;
}

.refill-box {
  background-image: linear-gradient(to right, #ffa500, #ffa60085),
    url(images/bggas.webp);
  background-size: cover;
  background-position: center;
}

.repaint-box {
  background-image: linear-gradient(to right, #198754, #19875486),
    url(images/bggas.webp);
  background-size: cover;
  background-position: center;
}

.accessories-box {
  background-image: linear-gradient(to right, #fff, #ffffff7c),
    url(images/opplanet-primus-omni-fuel-stove-w-windscreen-fuel-bottle-case-main.jpg);
  background-size: cover;
  background-position: center;
}

/**************************** SHOP ***********************************/

.section-products .card-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section-shop-header,
.section-blog-header {
  height: 30vh;
  position: relative;
}

.section-shop-header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(210, 187, 194, 0.027)
    ),
    url(images/hero-bg.webp);

  background-size: cover;
  background-position: center;
}

.greyish {
  color: #736e6e;
}

.priceLine {
  font-weight: 600;
  font-size: 1.1rem;
  color: #d6d6d6;
  text-decoration: line-through;
}

.eyeicon {
  padding: 1rem !important;
  border: 1px solid rgb(235, 227, 227);
}

.darkBlue {
  color: rgb(9, 9, 135);
}

.red {
  color: red;
}

#images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.section-testimonial {
  margin: 10rem 6rem !important;
}

/************* NEWSLETTER **************/

.home-newsletter {
  padding: 80px 0;
  background: #198754;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  /* font-size: 32px; */
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  /* background: rgba(255, 255, 255, 0.6); */
  /* border-color: transparent; */
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #ffa500;
  color: #fff;
}

/***************** SECTION PRODUCT ******************/
.section-product {
  display: flex;
  margin-top: 20px;
}

.single-prod-img {
  width: 40%;
  margin-right: 50px;
}

.single-prod-details {
  width: 50%;
  padding-top: 30px;
}

.single-prod-details h4 {
  padding: 40px 0 20px 0;
}

.single-prod-details h2 {
  font-size: 26px;
}

.single-prod-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.single-prod-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-prod-details input:focus {
  outline: none;
}

.single-prod-details button {
  background-color: #198754;
  color: #fff;
  border: none;
  padding: 10px 5px;
}

.single-prod-details button:hover {
  background-color: #198754;
}

.single-prod-details span {
  line-height: 25px;
}

/********************** SECTION BLOG ************************/
.section-blog-header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.795),
      rgba(210, 187, 194, 0.027)
    ),
    url(images/pexels-pixabay-257700.jpg);

  background-size: cover;
  background-position: center;
}

.blog {
  padding: 150px 150px 0 150px;
}

.blog-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 90px;
}

.blog-img {
  width: 50%;
  margin-right: 40px;
}

.blog-img img {
  height: 300px;
  object-fit: cover;
}

.blog-details {
  width: 50%;
}

.blog-details a {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 9px;
  right: -60px;
}

.blog-details a:hover {
  color: #198754;
}

.blog-details a:hover::after {
  background-color: #198754;
}

.blog-box h2 {
  position: absolute;
  top: -60px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

/********************** SECTION ABOUT-US *******************/
.about-us-box {
  display: flex;
}

.about-us-img-box {
  padding: 150px 0 150px 100px;
  width: 50%;
}

.about-us-img-box img {
  object-fit: cover;
  width: 100%;
}

.about-details-box {
  padding: 150px 70px 150px 100px;
  width: 50%;
}

.retail-outlets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.group {
  display: flex;
  gap: 1rem;
}

.about-details-box h2 {
  color: #ffa500;
}

.about-details-box p,
.about-details-box ul {
  margin-bottom: 50px;
}

.outlet {
  /* display: grid;
  justify-items: center;
  align-items: center; */
  background-color: #198754;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.outlet h4 {
  white-space: nowrap;
}

.outlet h4 {
  white-space: nowrap;
}

.outlet ion-icon {
  height: 50px;
  width: 50px;
}

/************************* CART PAGE ***********************/
.cart {
  padding: 40px;
  overflow-x: auto;
}
.cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

.cart table img {
  width: 70px;
}

.cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

.cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

.cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

.cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

.cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

.cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

.cart table tbody tr td {
  padding-top: 50px;
}

.cart table tbody td {
  font-size: 13px;
}

.cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

.coupon {
  width: 50%;
  margin-bottom: 30px;
}

.coupon h3,
.subtotal h3 {
  padding-bottom: 15px;
}

.coupon input {
  padding: 10px 20px;
  outline: none;
  width: 50%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

.coupon button {
  padding: 12px 20px;
}

.subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

.subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
/********************** SECTION FOOTER *********************/
.section-footer {
  margin-top: 12rem !important;
}

/**************** QUERIES ***************/
@media (max-width: 576px) {
  .hero-sub-text {
    display: none;
  }

  .section-hero {
    height: 55vh;
  }

  .objectives-box {
    flex-direction: column !important;
  }

  .search-btn,
  .search-input {
    display: none !important;
  }

  /* SINGLE PRODUCT */

  .section-product {
    flex-direction: column;
  }

  .single-prod-img {
    width: 100%;
    margin-right: 0;
  }

  .single-prod-details {
    width: 100%;
  }

  /* BLOG SECTION */
  .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .blog {
    padding: 100px 20px 0 20px;
  }

  .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .blog-details {
    width: 100%;
  }

  /* ABOUT US SECTION */
  .about-us-box {
    flex-direction: column;
  }

  .about-us-img-box {
    padding: 20px;
    width: 100%;
  }

  .about-details-box {
    padding: 20px;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .logo {
    padding-top: 1rem;
  }
  .about-box {
    height: 45rem;
  }

  .home-newsletter input {
    border-radius: unset !important;
    width: 100%;
  }

  .home-newsletter span {
    width: 100%;
  }

  .home-newsletter button {
    border-radius: unset !important;
    width: 100%;
  }

  .section-shop-header {
    height: 20rem;
  }

  /* CART PAGE */
  .cart-add {
    flex-direction: column;
  }

  .coupon {
    width: 100%;
  }

  .subtotal {
    width: 100%;
  }
}

@media (max-width: 280px) {
  .pre-nav {
    display: none !important;
  }

  .section-hero {
    height: 85vh;
  }

  .about-box {
    height: 54rem;
  }
}

.prod-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
